body {
    font-family: 'Montserrat';
    /* height: 2000px; */
}

.navbar {
    background-color: #171717;
    border-bottom: solid #333333 1px;
}

.nav-item {
    margin-right: 25px;
    font-weight: 200;
}

.nav-item.active a {
    color: #f9b234 !important;
    font-weight: 600;
}

.nav-link span {
    color: #f9b234;
    font-weight: 600;
}

/* Carousel */
.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'Lora';
}

.carousel p {
    font-weight: 200;
}

.carousel img {
    height: 250px;
    width: 200px;
}

/* Feature */

.features h3,
.similar-product h3,
.cart-header h3,
.modal-success h3 {
    font-family: 'Lora';
    color: #1b2690;
    font-weight: bold;
}

.features p,
footer p,
.similar-product p,
.cart-header p,
.modal-success p {
    font-weight: 200;
    color: #b7b7b7;
}

.figure h5,
footer span {
    font-weight: bold;
    color: #171717;
}

.figure p {
    color: #171717;
    font-weight: 600;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.3s;
}

.figure-img :hover {
    opacity: 1;
}

/* Breadcrumb */
.breadcrumb {
    margin-top: 50px;
}

.cart-breadcrumb {
    margin-top: 20px;
}

.product-thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 8px;
    margin: auto;
    transform: translateY(-50px);

}

.product-thumbnail-container a:hover {
    text-decoration: none;
}

.btn-product {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px #eaeaef;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.designed-by h5 {
    font-size: 14px;
    font-weight: 200;
    color: #b7b7b7;
    margin-bottom: 20px;
}

.designed-by h4 {
    font-size: 18px;
    color: #171717;
}

.designed-by p {
    font-size: 14px;
    font-weight: 200;
    color: #171717;
}

.designed-by p span {
    color: #b7b7b7;
}

/* prod desc */
.product-desc {
    background-color: #f6f7fb;
    height: 350px;
}

.product-desc .tab-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-desc .tab-content p {
    font-size: 16px;
    font-weight: 200;
    color: #868686;
    line-height: 28px;
}

.product-review {
    height: 300px;
    overflow: scroll;
}

.product-review h5 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;

}

.product-review p {
    font-size: 14px;
}

/* similar product */
.similar-product {
    margin-top: 180px;
    margin-bottom: 100px;
}

.checkout-detail {
    background-color: #f6f7fb;
    border: 1px solid #eaeaea;
}